* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #032c28, #22a48c);
  color: #fff;
  overflow: hidden;
}

.container {
  background: rgba(255, 255, 255, 0.12);
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px black;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
}

h1 {
  margin: -10px 0 30px 0;
  font-size: 60px;
  letter-spacing: 1px;
  color: black;
}

.display {
  width: 95%;
  height: 60px;
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
  padding: 12px;
  margin-bottom: 30px;
  color: black;
  box-shadow: inset 0 2px 5px black;
  transition: all 0.2s ease-in-out;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 5px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.184);
  padding: 10px 15px;
  margin: 10px;
  font-size: 30px;
  border-radius: 15px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  height: 15px;
  border-radius: 5px;
  background: linear-gradient(90deg, #03591f, #09c26b);
  outline: none;
  cursor: pointer;
  margin: 20px;
  border: 2px solid #4ad6b2;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #abf98c;
  border: 2px solid #4ad6b2;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444;
  transition: 0.3s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 23px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(90deg, #149634, #1da22c);
}

input:checked + .slider::before {
  transform: translateX(31px);
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

button#generate {
  flex: 1 1 100%;
  font-size: 35px;
}
button#copy,
button#clear {
  flex: 1 1 calc(50% - 5px);
}

button {
  flex: 2;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(135deg, #4df3c9, #0a8326);
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button i {
  font-size: 1.2rem;
}
