* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #032c28, #22a48c);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.container {
  background: rgba(255, 255, 255, 0.12);
  width: 600px;
  text-align: center;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 10px 30px black;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
}

.container h1 {
  margin: -10px 0 50px 0;
  font-size: 60px;
  letter-spacing: 1px;
  color: rgb(213, 237, 214);
}

.completion {
  background: #0f2a12;
  color: white;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.text h2 {
  margin: 0 0 0 20px;
  font-size: 40px;
}

.text h5 {
  margin: 5px 0 20px 20px;
  color: #9ca3af;
}

progress {
  margin-left: 20px;
  width: 220px;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  appearance: none;
}

progress::-webkit-progress-bar {
  background: #0d4c12;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background: #22c55e;
  border-radius: 10px;
}

.circle {
  width: 100px;
  height: 100px;
  margin-right: 40px;
  background: #1e293b;
  border: 3px solid #22c55e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
}

.write {
  display: flex;
  align-items: center;
  gap: 10px;
}

.display {
  flex: 1;
  height: 60px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0 15px;
  margin: 30px 0px;
  color: black;
  box-shadow: inset 0 2px 5px black;
  transition: all 0.2s ease-in-out;
}

.display:focus {
  box-shadow: 0 0 5px #22c55e;
}

.write button{
    width: 60px;
    height: 60px;
    border-radius: 40%;
    border: 3px solid rgb(6, 66, 6);
    background-color: #0a7531;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.write button:hover {
  background-color: #16a34a;
}